name: "Nix CI"
on:
    pull_request:
    push:
        branches: [main]

jobs:
    checks:
        runs-on: ubuntu-latest
        steps:
            - name: Nothing but nix
              if: ${{ runner.os == 'Linux' && inputs.ONLY_NIX != 'true' }}
              uses: wimpysworld/nothing-but-nix@main
              with:
                  hatchet-protocol: rampage
                  root-safe-haven: 2048

            - name: Install nix
              uses: cachix/install-nix-action@v31

            - uses: DeterminateSystems/magic-nix-cache-action@main

            - uses: actions/checkout@v6

            - name: Run Nix Fast Build
              run: |
                  nix run nixpkgs#nix-fast-build -- \
                    --skip-cached \
                    --no-nom \
                    --flake ".#checks.x86_64-linux"
